<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} | React</title>
  <meta name="viewport" content="width=device-width">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">

  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/codemirror.css">
  <link rel="stylesheet" href="/css/react.css">

  <script type="text/javascript" src="//use.typekit.net/vqa1hcx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!--[if lte IE 8]>
  <script type="text/javascript" src="js/html5shiv.min.js"></script>
  <script type="text/javascript" src="js/es5-shim.min.js"></script>
  <script type="text/javascript" src="js/es5-sham.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="js/codemirror.js"></script>
  <script type="text/javascript" src="js/live_editor.js"></script>
</head>
<body>

  <div class="container">

    <div class="nav-main">
      <div class="wrap">
        <a class="nav-home" href="index.html">
          Outware
        </a>

        <ul class="nav-site nav-site-internal">
          <li><a href="/docs/tools.html"{% if page.sectionid == 'docs' or page.sectionid == 'tips' %} class="active"{% endif %}>Getting
              Started </a></li>
          <li><a href="support.html"{% if page.id == 'support' %}
              class="active"{% endif %}>Resources</a></li>
          <li><a href="downloads.html"{% if page.id == 'downloads' %}
              class="active"{% endif %}>Examples</a></li>
        </ul>

        <ul class="nav-site nav-site-external">
          <li><a href="https://github.com/outware-mobile/omu-javascript-fundamentals">GitHub</a>
        </ul>
      </div>
    </div>

    {{ content }}

    <footer class="wrap">
      <div class="left">
        Facebook for swanky documentation 
      </div>
      <div class="right">
        &copy; 2015&ndash;{{ site.time | date: '%Y' }} Outware<br>
      </div>
    </footer>
  </div>
</body>
</html>
